* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 937px;
    background: linear-gradient(rgb(206, 201, 225), rgb(92, 155, 211));
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}

h1{
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.projeto-item {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    border: 2px solid black;
}

.projeto-item div {
    padding-top: 10px;
}

.projeto-item img {
    width: 100px;
}

.projeto-item span {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

.projeto-item p {
    padding: 10px;
    font-family: Arial;
}

.projeto-item a {
    padding: 20px;
    font-family: Arial;
    font-style: ;
}